<footer op-60 text-center p-4>
  <p mt-6 text-sm text-slate>
    <span>Inspired by</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://ddiu.io"
      target="_blank"
    >
      ddiu
    </a>
    <span pr-1>, Made by</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://leonfong.me"
      target="_blank"
    >
      Leon
    </a>
  </p>
</footer>
